// text-colors
$nav-link: #fff;
$text-color: #81AFDD;
//bg-colors
$btn-bg: #FF4820;
$blue-bg:#042C54;
$header-input: #052D56;
$body-bg: #040C18;
$gradient: linear-gradient(
    90deg,
    rgba(174, 103, 250, 1),
    rgba(244, 152, 103, 1)
  );
