
section{
    display: flex;
    h2{
        color:rgb(31, 31, 61);
        @include x-smal{
            font-size: larger;
        }
        @include xx-smal{
            font-size: medium;
        }
    }
    img{
        max-width: 400px;
        filter: brightness(1) invert(0.5);
    }
    img:hover{
        opacity: 0.4;
    }
    .stonePc{
                display: none;
    }
    .shearsPc{
                display: none;
    }
    .paperPc{
                display: none;
    }
}

.show{
    display: flex !important;
    margin: 0 auto;
}