*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.position{
display: flex;
justify-content:space-evenly;

}
.imges-action{
height:100px;

   
} 
.active{
    height:500px;
}