.text-gradient{
    background: $gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;}
        //   max-width: 450px;
        //   margin-top: 91px;
        //   margin-bottom: 92px;
        //   margin-left: 60px;