@import "./variables";
@import "./mixins";
@import "./container";
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
// .body{
//     max-width: 1440px;
// }
.header{
    margin-right: 20px;
    margin-left: 20px;
    @media (max-width: 1140px) {
        // display: block;
        flex-wrap: wrap;
          }
    @include flex(space-around,normal,50px);
    &__logo{
        display: flex;
        align-items: center;
        &_img{
            width: 100%
        }
    }
    &__menu {
        @include flex(space-around, center);
        gap: 40px;
        min-height: 88px;
        @media (max-width: 1140px) {
            flex-wrap: wrap;
        }
       
        &_home{
            text-decoration: none;
            color: black;
           
        }
        &_basket{
            max-height: 24px;
        }
    }
}
.section1{
    &__img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    @include flex(center);
}
.section2{
    &__h2{
        color: $primary-color;
        font-size: 36px;
        margin: 40px;
    }
    &__div{
        @media (max-width: 1205px) {
            // display: block;
            flex-wrap: wrap;
            
        }
        @include flex(center, normal, 20px);
        &_box{
            display: flex;
            flex-direction: column;
            gap: 20px;
            &_a{
                text-decoration: none;
                color: $primary-color;
                font-size: 18px;
            }
        }

    }
   
}
.section3{
    margin-top: 40px;
    @include flex(center);
    &__box{
        @media (max-width: 900px) {
            // display: block;
            flex-wrap: wrap;
        }
        @include flex(center);
        max-height: 682px;
        background-color: $primary-color;
        &_div{
            @media (max-width: 1100px) {
                max-height: 600px;
                max-width: 400px;
            }

            padding-top: 150px;
            padding-left: 50px;
            &_h1{
            color: white;
            font-size: 54px;
            }
            &_p{
            color: white; 
            font-size: 28px;
            margin-top: 20px;
            margin-bottom: 20px;
            }
            &_button{
           color: $primary-color; 
           min-width: 170px;
           min-height: 42px;
           font-size: 16px bold;
           }

        }

    }
}
.section4{
     &__h2{
        color: $primary-color;
        font-size: 36px;
        margin: 40px;
    }
     &__div{
        @media (max-width: 1260px) {
            // display: block;
            flex-wrap: wrap;
        }
        @include flex(center,normal,34px);
    }
     &__button{
        @include flex(center, center);
        background-color: $primary-color; 
        color: white;
        border-radius: 5px;
        min-width: 170px;
        min-height: 42px;
        font-size: 16px bold;
        margin-top: 40px;
        margin-bottom: 40px;
     }
}
.section5 {
    &__h2{
        color: $primary-color;
        font-size: 36px;
        margin: 40px;
    }
    &__box{
        display: flex;
        justify-content: center;
        gap: 30px;
        @media (max-width: 1200px) {
            // display: block;
            flex-wrap: wrap;
            }
        &_div{
            max-width: 392px;
            border: 1px solid gray;
            font-size: 18px italic;
            padding: 20px;
            &_p{
                text-align: center;
                margin-top: 20px;
            }
        }

    }
}
.section6{
    &__h2{
       color: $primary-color;
       font-size: 36px;
       margin: 40px;
   }
    &__div{
        @media (max-width: 1260px) {
            // display: block;
            flex-wrap: wrap;
            }
        
       @include flex(center,normal,34px);
       
       &_box{
        display: flex;
        flex-direction: column;
       justify-content: center;
       gap: 20px;
      
       &_a{
        text-decoration: none;
        color: $primary-color;
                
       }
       }
   }
    &__button{
       @include flex(center, center);
       background-color: $primary-color; 
       color: white;
       border-radius: 5px;
       min-width: 170px;
       min-height: 42px;
       font-size: 16px bold;
       margin-top: 40px;
       margin-bottom: 40px;
    }
}
.section7{
    @include flex(center);
    background-color: rgba(184, 224, 239, 1);
    &__box{
        @media (max-width: 1140px) {
            display: block;
        }
        @include flex(center);
        margin-top: 40px;
        max-height: 401px;
        margin-bottom: 50px;
        &_div1{
            background-color: white;
            text-align: center;
            min-width: 460px;
            &_h2{
                color: $primary-color;
                font-size: 35 bold;
                margin-top: 100px;
                margin-bottom: 20px;
            }
            &_p{
                color: rgba(52, 52, 52, 1);
                font-size: 16 bold;
                margin-bottom: 50px;
            }
            &_button{
                background-color: $primary-color;
                color: white;
                font-size: 16px bold;
                min-width: 170px;
                min-height: 42px;

            }
        }
    }
}
.section8{
    background-color: rgba(184, 224, 239, 1);
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    &__menu{
        @media (max-width: 1140px) {
            // display: block;
            flex-wrap: wrap;
        }
        display: flex;
        gap: 100px;
        margin-left: 80px;
        &_div{
            display: flex;
            gap: 20px;
            flex-direction: column;
            &_a1{
                color: rgba(52, 52, 52, 1);
                font-size: 21px bold;
                text-decoration: none;
            }
            &_a{
                color: rgba(83, 88, 95, 1);
                font-size: 16px bold;
                text-decoration: none; 
            }
        }
    }
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(184, 224, 239, 1);
    @media (max-width: 1140px) {
        flex-wrap: wrap;
    }
    &__logo{
        &_p{
            font-size: 16 bold;
            color: rgba(83, 88, 95, 1);
        }
    }
    &__media{
        margin-top: 20px;
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }
}

//   @media screen and (max-width: 1100px) {
//     .section3__div1_img{
//         // max-height: 0px;
//         max-height: 500px;
//     }
//   }

  @media screen and (max-width: 1100px) {
    .section3__box_div1_img{
         max-height: 0px;
    }
  }

//   @media screen and (max-width: 1460px) {
//     .section1__img {
//       max-width: 1100px;
//     }
//   }
//   @media screen and (max-width: 1140px) {
//     .section1__img {
//       max-width: 800px;
//     }
//   }

//   @media screen and (max-width: 830px) {
//     .section1__img {
//       max-width: 450px;
//     }
//   }

  @media screen and (max-width: 1000px) {
    .section7__box_div_img {
        max-height: 0px;
    }
  }