.container {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: normal;
  gap: 0;
}
@media (max-width: 1140px) {
  .header {
    flex-wrap: wrap;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo_img {
  width: 100%;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  gap: 40px;
  min-height: 88px;
}
@media (max-width: 1140px) {
  .header__menu {
    flex-wrap: wrap;
  }
}
.header__menu_home {
  text-decoration: none;
  color: black;
}
.header__menu_basket {
  max-height: 24px;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 0;
}
.section1__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.section2__h2 {
  color: rgb(0, 45, 105);
  font-size: 36px;
  margin: 40px;
}
.section2__div {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 20px;
}
@media (max-width: 1205px) {
  .section2__div {
    flex-wrap: wrap;
  }
}
.section2__div_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section2__div_box_a {
  text-decoration: none;
  color: rgb(0, 45, 105);
  font-size: 18px;
}

.section3 {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 0;
}
.section3__box {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 0;
  max-height: 682px;
  background-color: rgb(0, 45, 105);
}
@media (max-width: 900px) {
  .section3__box {
    flex-wrap: wrap;
  }
}
.section3__box_div {
  padding-top: 150px;
  padding-left: 50px;
}
@media (max-width: 1100px) {
  .section3__box_div {
    max-height: 600px;
    max-width: 400px;
  }
}
.section3__box_div_h1 {
  color: white;
  font-size: 54px;
}
.section3__box_div_p {
  color: white;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section3__box_div_button {
  color: rgb(0, 45, 105);
  min-width: 170px;
  min-height: 42px;
  font-size: 16px bold;
}

.section4__h2 {
  color: rgb(0, 45, 105);
  font-size: 36px;
  margin: 40px;
}
.section4__div {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 34px;
}
@media (max-width: 1260px) {
  .section4__div {
    flex-wrap: wrap;
  }
}
.section4__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: rgb(0, 45, 105);
  color: white;
  border-radius: 5px;
  min-width: 170px;
  min-height: 42px;
  font-size: 16px bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section5__h2 {
  color: rgb(0, 45, 105);
  font-size: 36px;
  margin: 40px;
}
.section5__box {
  display: flex;
  gap: 30px;
}
@media (max-width: 1200px) {
  .section5__box {
    flex-wrap: wrap;
  }
}
.section5__box_div {
  max-width: 392px;
  border: 1px solid gray;
  font-size: 18px italic;
  padding: 20px;
}
.section5__box_div_p {
  text-align: center;
  margin-top: 20px;
}

.section6__h2 {
  color: rgb(0, 45, 105);
  font-size: 36px;
  margin: 40px;
}
.section6__div {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 34px;
}
@media (max-width: 1260px) {
  .section6__div {
    flex-wrap: wrap;
  }
}
.section6__div_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.section6__div_box_a {
  text-decoration: none;
  color: rgb(0, 45, 105);
}
.section6__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: rgb(0, 45, 105);
  color: white;
  border-radius: 5px;
  min-width: 170px;
  min-height: 42px;
  font-size: 16px bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.section7 {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 0;
  background-color: rgb(184, 224, 239);
}
.section7__box {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 0;
  margin-top: 40px;
  max-height: 401px;
  margin-bottom: 50px;
}
@media (max-width: 1140px) {
  .section7__box {
    display: block;
  }
}
.section7__box_div1 {
  background-color: white;
  text-align: center;
  min-width: 460px;
}
.section7__box_div1_h2 {
  color: rgb(0, 45, 105);
  font-size: 35 bold;
  margin-top: 100px;
  margin-bottom: 20px;
}
.section7__box_div1_p {
  color: rgb(52, 52, 52);
  font-size: 16 bold;
  margin-bottom: 50px;
}
.section7__box_div1_button {
  background-color: rgb(0, 45, 105);
  color: white;
  font-size: 16px bold;
  min-width: 170px;
  min-height: 42px;
}

.section8 {
  background-color: rgb(184, 224, 239);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
.section8__menu {
  display: flex;
  gap: 100px;
  margin-left: 80px;
}
@media (max-width: 1140px) {
  .section8__menu {
    flex-wrap: wrap;
  }
}
.section8__menu_div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.section8__menu_div_a1 {
  color: rgb(52, 52, 52);
  font-size: 21px bold;
  text-decoration: none;
}
.section8__menu_div_a {
  color: rgb(83, 88, 95);
  font-size: 16px bold;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(184, 224, 239);
}
@media (max-width: 1140px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer__logo_p {
  font-size: 16 bold;
  color: rgb(83, 88, 95);
}
.footer__media {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
  .section3__box_div1_img {
    max-height: 0px;
  }
}
@media screen and (max-width: 1000px) {
  .section7__box_div_img {
    max-height: 0px;
  }
}/*# sourceMappingURL=style.css.map */